/* VARIABLES */

:root {
    /* COLORES */

    --verde-claro: rgb(159, 214, 199);
    --verde-oscuro: #207D66;
    --marron: #31180F;
    --blanco: #FAF9F2;
    

}

html {
    scroll-behavior: smooth;
  }

main {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgb(159, 214, 199));
}

*{
    margin: 0;
    font-family: 'Karla', sans-serif;
}

header {
    background-image: url(/img/alyson-mcphee-yWG-ndhxvqY-unsplash.jpg);
    background-size: cover;
}

.logo {
    width: 50px;
    height: 50px;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: var(--marron);
}

ul, ol{
    list-style: none;
}


.container-header {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background-image: linear-gradient(180deg, rgba(159, 214, 199, 0.3), rgba(100%,100%,100%, 0.1) );

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links  {
    display:flex;
}

.links > li {
    padding: 15px;
}

.links > li > a {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1.2rem;
}

.links > li > a:hover {
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 5px black;
}


.button {
    background-color: rgb(57, 189, 153); /* Green */
    border: none;
    color: white;
    border-radius: 13px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
  }

.button:hover {
    background-color: var(--verde-claro)
}
   
  

.heading {    
    font-size: 5rem;
    margin-left: 23%;
    margin-top: 8%;
    color: #fff;
    text-shadow: 2px 2px 5px black;
    letter-spacing: 2px;
}

.description {
    margin-left: 24%;
    margin-top: 1%;
    color: #fff;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: 4px;
}

.ctr-heading {
    padding-bottom: 290px;
}

.ctr-heading .button {
    margin-left: 24%;
    margin-top: 2%;
}

.ctr-section {
    margin: 40px auto;
    width: 85%;
    min-height: 600px;
    border: 1px solid var(--verde-claro);
    background-image: url(/img/fondo-hero.jpg);
    background-size: cover;
    border-radius: 8px;
}

.ctr-section .info {
    margin: 20px 40px;
    background-color: #fff;
    max-width: 40%;
    min-height: 550px;
    border-radius: 12px;
}

.ctr-section .info h3 {
    font-size: 1.8rem;
    padding-top: 35px;
    padding-bottom: 45px;
    color: black;
    /* text-shadow: 2px 2px 5px black; */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
}

.ctr-section .info p {
    color: black;
    text-align: left;
    margin: 20px 60px;
    line-height: 2;
}

.ctr-section .info .button {
    margin: 50px 150px 0; 
}